<div class="profile-card">

  <img src="Profilepic.jpg" alt="Profile Picture" class="profile-picture">
  <h1 class="profile-name">{{ studentName }}</h1>
  <h2 class="student-id">Student ID: {{ studentNumber }}</h2>
  <p class="course">Course: {{ course }}</p>
  <p class="year-level">Year Level: {{ yearLevel }}</p>
  <p class="section">Section: {{ section }}</p>
  <p class="nickname">Nickname: {{nickname.toUpperCase()}}</p>
  <p class="email">Email: {{ studentName.replace(/\s+/g, '.').toLowerCase() }}@dbtc-cebu.edu.ph</p>
  <p class="grade">Grade: {{ grade ? "Pass" : "Fail" }}</p>
</div>

