<div class="loading-screen" *ngIf="loading; else studentPortal">
  <div class="loading-box">
    <div class="spinner"></div>
    <h2>Loading students...</h2>
    <p>Please wait while the Student Portal loads.</p>

    <button class="btn load-btn" (click)="finishLoading()">Finish Loading</button>
  </div>
</div>

<ng-template #studentPortal>
  <div
    class="announcement-card"
    *ngFor="let announcement of announcements; let i = index"
    [class.pinned]="announcement.important"
  >
    <h2>{{ announcement.title }}</h2>

    <p>{{ announcement.body }}</p>

    <span>
      <strong>Author:</strong>
      {{ announcement.author }}
    </span>

    <span>
      <strong>Date:</strong>
      {{ announcement.date }}
    </span>

    <div class="card-actions">
      <button
        class="btn pin-btn"
        [class.active]="announcement.important"
        (click)="togglePin(announcement)"
      >
        {{ announcement.important ? '📌 Pinned' : '📌 Pin' }}
      </button>

      <button class="btn delete-btn" (click)="deleteAnnouncement(i)">🗑️ Delete</button>
    </div>
  </div>

  <h2>Student List</h2>

  <p class="editing-banner" *ngIf="editingStudentName">Editing {{ editingStudentName }}</p>

  <div class="student-list" *ngIf="students.length > 0; else emptyStudents">
    <div
      class="student-card"
      *ngFor="let student of students; let i = index"
      [class.favorited]="student.favorite"
    >
      <h3>#{{ i + 1 }} {{ student.name }}</h3>

      <span class="status-badge active-badge" *ngIf="student.active; else inactiveStatus">
        Active
      </span>

      <ng-template #inactiveStatus>
        <span class="status-badge inactive-badge"> Inactive </span>
      </ng-template>

      <p>{{ student.course }} • {{ student.year }}</p>

      <div class="card-actions">
        <button
          class="btn favorite-btn"
          [class.active]="student.favorite"
          (click)="toggleFavorite(student)"
        >
          {{ student.favorite ? '⭐ Favorited' : '☆ Favorite' }}
        </button>

        <button class="btn edit-btn" *ngIf="student.active" (click)="editStudent(student)">
          ✎ Edit
        </button>

        <button class="btn delete-btn" (click)="deleteStudent(i)">🗑 Delete</button>
      </div>
    </div>
  </div>

  <ng-template #emptyStudents>
    <div class="empty-state">
     
      <h2>No students found.</h2>

      <p>Add your first student to the Student Portal.</p>
    </div>
  </ng-template>
</ng-template>
