<div class="student-detail-page">
  <h2>Student Detail</h2>

  <div class="student-detail-card" *ngIf="student">
    <p>
      <strong>Student ID:</strong>
      {{ student.id }}
    </p>

    <p>
      <strong>Name:</strong>
      {{ student.name }}
    </p>

    <p>
      <strong>Course:</strong>
      {{ student.course }}
    </p>

    <p>
      <strong>Year Level:</strong>
      {{ student.year }}
    </p>

    <p>
      <strong>Status:</strong>
      {{ student.active ? 'Active' : 'Inactive' }}
    </p>

    <a routerLink="/students" class="back-button"> ← Back to Student List </a>
  </div>

  <div class="student-detail-card" *ngIf="!student">
    <p>Student not found.</p>

    <a routerLink="/students" class="back-button"> ← Back to Student List </a>
  </div>
</div>
